/**************************************************/
/********************CSS MENU**********************/
/**************************************************/


/*definition du fond de page*/
body
{
	background: url('Images/Mickey.jpg')no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	text-align: left;
	margin-top: 250px;
	margin-left: 150px;
}

#form
{
  vertical-align:middle;
  display:inline-block;
  line-height:normal; /* on rétablit le line-height */
  text-align:left; /* ... et l'alignement du texte */	
}

#mdp 
{
	text-align: center;
	color: white;
	
}